<app-topbar-without-login></app-topbar-without-login>

<div class="m-5">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card">
          <div class="card-body p-2">
            <div [hidden]="success">
              <div class="avatar-md mx-auto text-center">
                <div class="avatar-title rounded-circle bg-light">
                  <i class="bx bx-question-mark h1 mb-0 text-info"></i>
                </div>
              </div>
              <div class="mt-4 text-center">
                <h4>Reset Password</h4>
                <p>Please enter the email address you have registered with us.</p>
              </div>
              <form [formGroup]="form" (submit)="doSubmit()">
                <div class="form-floating my-2">
                  <input type="email" class="form-control" id="email" placeholder="New Password" name="email"
                         formControlName="email"
                         [ngClass]="{'is-invalid': form.get('email').touched && form.get('email').invalid && form.get('email').dirty}">
                  <label for="email">Email</label>
                  <div *ngIf="form.get('email').touched && !form.get('email').dirty" class="invalid-feedback">Required
                  </div>
                  <div *ngIf="form.get('email').touched && form.get('email').invalid && form.get('email').dirty"
                       class="invalid-feedback">Invalid email format
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-6 d-grid">
                    <button type="reset" class="btn btn-outline-primary btn-rounded btn-lg">Reset</button>
                  </div>
                  <div class="col-6 d-grid">
                    <button type="submit" class="btn btn-primary btn-rounded btn-lg">Submit</button>
                  </div>
                </div>
              </form>
            </div>
            <div [hidden]="!success">
              <div class="avatar-md mx-auto text-center">
                <div class="avatar-title rounded-circle bg-light">
                  <i class="bx bx-mail-send h1 mb-0 text-info"></i>
                </div>
              </div>
              <div class="mt-4 text-center">
                <h4>Email Sent</h4>
                <p>Please check your email inbox for password reset instruction.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
