<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <form class="needs-validation" (ngSubmit)="doSubmit()" [formGroup]="doForm">
          <div class="card-body">
            <div class="row mb-4">
              <div class="col-6">
                <div class="row">
                  <label for="refNo" class="col-4 col-form-label text-end">*Reference No</label>
                  <div class="col-8">
                    <input type="text" class="form-control" id="refNo" formControlName="refNo"
                           [ngClass]="{'is-invalid': submit && form.refNo.errors}">
                    <div *ngIf="submit && form.refNo.errors" class="invalid-feedback">
                      <span *ngIf="form.refNo.errors.required">Required</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <label for="deliveryDate" class="col-4 col-form-label text-end">*Delivery Date</label>
                  <div class="col-8">
                    <input type="date" class="form-control" id="deliveryDate" formControlName="deliveryDate"
                           [value]="form.deliveryDate"
                           [ngClass]="{ 'is-invalid': submit && form.deliveryDate.errors }"
                           required>
                    <div *ngIf="submit && form.deliveryDate.errors" class="invalid-feedback">
                      <span *ngIf="form.deliveryDate.errors.required">Required</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <label for="customer" class="col-2 col-form-label text-end">*Customer</label>
              <div class="col-10">
                <div class="input-group mb-3">
                  <button class="btn btn-primary" type="button" (click)="openSearchCustomer()">Search</button>
                  <input type="text" id="customer" class="form-control" [ngClass]="{'is-invalid': submit && form.customer.errors}" [value]="selectedCustomer?.name" disabled>
                </div>
                <div *ngIf="submit && form.customer.errors" class="invalid-feedback">
                  <span *ngIf="form.customer.errors.required">Required</span>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="selectedCustomer?.address">
              <div class="col-6">
                <div class="card border border-secondary">
                  <div class="card-header">
                    <h5>Billing Address</h5>
                  </div>
                  <div class="card-body">
                    <p>{{selectedCustomer.address.billingAddress.type}}</p>
                    <p>{{selectedCustomer.address.billingAddress.unitNo}}</p>
                    <p>{{selectedCustomer.address.billingAddress.street}}</p>
                    <p>{{selectedCustomer.address.billingAddress.postcode}}</p>
                    <p>{{selectedCustomer.address.billingAddress.city}}</p>
                    <p>{{selectedCustomer.address.billingAddress.state}}</p>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card border border-secondary">
                  <div class="card-header">
                    <h5>Delivery Address</h5>
                  </div>
                  <div class="card-body">
                    <p>{{selectedCustomer.address.deliveryAddress.type}}</p>
                    <p>{{selectedCustomer.address.deliveryAddress.unitNo}}</p>
                    <p>{{selectedCustomer.address.deliveryAddress.street}}</p>
                    <p>{{selectedCustomer.address.deliveryAddress.postcode}}</p>
                    <p>{{selectedCustomer.address.deliveryAddress.city}}</p>
                    <p>{{selectedCustomer.address.deliveryAddress.state}}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-4">
              <div class="col-12">
                <div class="card border border-secondary" formArrayName="productList">
                  <div class="card-header">
                    <h5>Product
                      <button type="button" class="btn btn-outline-primary float-end w-md"
                              (click)="addProduct()">Add Items
                      </button>
                    </h5>
                  </div>
                  <div class="card-body" *ngIf="productList.length > 0">
                    <div class="row mt-2 mb-4" [formGroupName]="i"
                         *ngFor="let p of productList.controls; let i = index">
                      <div class="col-1 p-0 align-self-center text-center fw-medium fs-5">
                        {{i + 1}}
                      </div>
                      <div class="col-4 align-self-center">
                        <select class="form-select" id="{{'uuid' + i}}" formControlName="uuid" [ngClass]="{'is-invalid': submit && p.errors}" (change)="onSelectProduct($event.target.value, i)">
                          <option value="">Select Product</option>
                          <option [disabled]="prod.disabled" [value]="prod.uuid" *ngFor="let prod of productSelections">{{prod.name}}</option>
                        </select>
                        <div *ngIf="submit && p.errors" class="invalid-feedback">
                          <span *ngIf="p.get('uuid').errors.required">Required</span>
                        </div>
                      </div>
                      <div class="col-2 align-self-center">
                        <input type="number" min="0" class="form-control" id="{{'quantity' + i}}" placeholder="Quantity"
                               formControlName="quantity"
                               [ngClass]="{'is-invalid': submit && p.get('quantity').errors}">
                        <div *ngIf="submit && p.get('quantity').errors" class="invalid-feedback">
                          <span *ngIf="p.get('quantity').errors.required">Required</span>
                        </div>
                      </div>
                      <div class="col-4 align-self-center">
                        <input type="text" class="form-control" id="{{'remark' + i}}" placeholder="Remark"
                               formControlName="remark"
                               [ngClass]="{'is-invalid': submit && p.get('remark').errors}">
                        <div *ngIf="submit && p.get('remark').errors" class="invalid-feedback">
                          <span *ngIf="p.get('remark').errors.required">Required</span>
                        </div>
                      </div>
                      <div class="col-1 align-self-center">
                        <button type="button" class="btn btn-outline-danger float-end"
                                (click)="removeProduct(i)">Remove
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="card-body text-center pointer" (click)="addProduct()" [hidden]="productList.length > 0">
                    <div class="row text-secondary">
                      <i class="bx bx-folder-plus bx-md"></i>
                      <label>No product added. Click to add a product</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-primary w-md float-end">Save</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
