.announcement-card {
  margin-top: -4%;
}

.carousel {
  display: flex;
  overflow: hidden;
  height: 100px;
}

.carousel-item {
  display: flex;
  align-items: center;
}

.active-carousel-img {
  border: 5px dotted black;
  padding: 3px;
}
