<app-topbar-without-login></app-topbar-without-login>

<div class="m-5">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card">
          <div class="card-body p-2">
            <div *ngIf="session">
              <div class="avatar-md mx-auto text-center">
                <div class="avatar-title rounded-circle bg-light">
                  <i class="bx bx bxs-key h1 mb-0 text-info"></i>
                </div>
              </div>
              <div class="mt-4 text-center">
                <h4>Change Password</h4>
                <p>Please enter a new password for your account</p>
              </div>
              <form [formGroup]="form" (submit)="doSubmit()" >
                <div class="form-floating my-2">
                  <input type="password" class="form-control" id="password" placeholder="New Password" name="password" formControlName="password" [ngClass]="{'is-invalid': form.get('password').touched && form.get('password').invalid && form.get('password').dirty || passwordMatchValidator(form)}">
                  <label for="password">New Password</label>
                  <div *ngIf="form.get('password').touched && !form.get('password').dirty" class="invalid-feedback">Required</div>
                  <div *ngIf="form.get('password').touched && form.get('password').invalid && form.get('password').dirty" class="invalid-feedback">Invalid password format</div>
                </div>
                <div class="form-floating my-2">
                  <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword" formControlName="confirmPassword" [ngClass]="{'is-invalid': form.get('confirmPassword').touched && form.get('confirmPassword').invalid && !form.get('confirmPassword').dirty || passwordMatchValidator(form)}">
                  <label for="confirmPassword">Confirm Password</label>
                  <div *ngIf="form.get('confirmPassword').touched && !form.get('confirmPassword').dirty" class="invalid-feedback">Required</div>
                  <div *ngIf="form.get('confirmPassword').touched && form.get('confirmPassword').invalid && form.get('confirmPassword').dirty || passwordMatchValidator(form)" class="invalid-feedback">Password mismatch</div>
                </div>
                <div class="row mt-3">
                  <div class="col-6 d-grid">
                    <button type="reset" class="btn btn-outline-primary btn-rounded btn-lg">Reset</button>
                  </div>
                  <div class="col-6 d-grid">
                    <button type="submit" class="btn btn-primary btn-rounded btn-lg">Submit</button>
                  </div>
                </div>
              </form>
            </div>
            <div *ngIf="!session">
              <div class="avatar-md mx-auto">
                <div class="avatar-title rounded-circle bg-light">
                  <i class="bx bx-error-alt h1 mb-0 text-danger"></i>
                </div>
              </div>
              <div class="p-2 mt-4">
                <h4>Error</h4>
                <p>This link is invalid or expired. Please request the verification link again.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
