<app-topbar-without-login></app-topbar-without-login>

<div class="row justify-content-center bg-light px-2 px-lg-0">
  <div class="col-12 col-lg-10">
    <div class="row mt-5 mb-4">
      <div class="col-6 col-lg-4" (click)="goTo('https://cfm.my/')">
        <div class="card rounded-4 text-center pointer">
          <img class="card-img-top img-fluid rounded-top" src="assets/images/icms/forum-telecomm.jpg" alt="Telecommunication">
          <div class="card-body rounded-4 p-3">
            <img class="m-3" height="80px" src="assets/images/icms/forum-telecomm-cfm.png">
            <h3 class="card-text m-2 fs-5">Telecommunications & Broadcasting Services</h3>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-4" (click)="goTo('https://postalforum.my/')">
        <div class="card rounded-4 text-center pointer">
          <img class="card-img-top img-fluid rounded-top" src="assets/images/icms/forum-postal.jpg"
               alt="Postal & Courier">
          <div class="card-body rounded-4 p-3">
            <img class="m-3" height="80px" src="assets/images/icms/forum-postal-forum.png">
            <h3 class="card-text m-2 fs-5">Postal & Courier Services</h3>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-4" (click)="goTo('https://contentforum.my/')">
        <div class="card rounded-4 text-center pointer">
          <img class="card-img-top img-fluid rounded-top" src="assets/images/icms/forum-broadcasting.jpg" alt="Online Content">
          <div class="card-body rounded-4 p-3">
            <img class="m-3" height="80px" src="assets/images/icms/forum-broadcasting-cf.png">
            <h3 class="card-text m-2 fs-5">Online & Broadcasting Content</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
