<div class="row">
  <div class="col-12 col-lg-3">
    <h4 class="fw-bold">Showing Total All {{searchResult.numberOfElements}} Cases</h4>
    <p class="text-muted">Click on each card to view the case details</p>
  </div>
  <div class="col-12 col-lg-9">
    <div class="input-group">
      <input type="text" class="form-control form-control-lg" placeholder="Search" [(ngModel)]="searchText" (keyup.enter)="doSearchByText()">
      <button class="btn btn-lg bg-white border-start-0 border-dark border-opacity-25" type="button" (click)="doSearchByText()"><i class="bx bx-search"></i></button>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-6 col-lg mb-3">
    <button class="btn btn-lg btn-rounded w-lg" (click)="doSelectStatus('all')"
    [ngClass]="{'btn-primary': selectedStatus === 'all', 'btn-secondary' : selectedStatus !== 'all'}">All</button>
  </div>
  <div class="col-6 col-lg mb-3">
    <button class="btn btn-lg btn-rounded w-lg" (click)="doSelectStatus('new')"
    [ngClass]="{'btn-primary': selectedStatus === 'new', 'btn-secondary' : selectedStatus !== 'new'}">New</button>
  </div>
  <div class="col-6 col-lg mb-3">
    <button class="btn btn-lg btn-rounded w-lg" (click)="doSelectStatus('investigation')"
    [ngClass]="{'btn-primary': selectedStatus === 'investigation', 'btn-secondary' : selectedStatus !== 'investigation'}">Investigation</button>
  </div>
  <div class="col-6 col-lg mb-3">
    <button class="btn btn-lg btn-rounded w-lg" (click)="doSelectStatus('onhold')"
    [ngClass]="{'btn-primary': selectedStatus === 'onhold', 'btn-secondary' : selectedStatus !== 'onhold'}">On Hold</button>
  </div>
  <div class="col-6 col-lg mb-3">
    <button class="btn btn-lg btn-rounded w-lg" (click)="doSelectStatus('appeal')"
    [ngClass]="{'btn-primary': selectedStatus === 'appeal', 'btn-secondary' : selectedStatus !== 'appeal'}">Appeal</button>
  </div>
  <div class="col-6 col-lg mb-3">
    <button class="btn btn-lg btn-rounded w-lg" (click)="doSelectStatus('resolved')"
    [ngClass]="{'btn-primary': selectedStatus === 'resolved', 'btn-secondary' : selectedStatus !== 'resolved'}">Resolved</button>
  </div>
  <div class="col-6 col-lg mb-3">
    <button class="btn btn-lg btn-rounded w-lg" (click)="doSelectStatus('closed')"
    [ngClass]="{'btn-primary': selectedStatus === 'closed', 'btn-secondary' : selectedStatus !== 'closed'}">Closed</button>
  </div>
  <div class="col-6 col-lg mb-3 text-lg-end">
    <button class="btn btn-lg btn-rounded btn-outline-info w-lg" *ngIf="isSortByNewest" (click)="doSort('newest')">
      <i class="bx bx-sort-down align-middle fs-4 me-2"></i>Newest
    </button>
    <button class="btn btn-lg btn-rounded btn-outline-info w-lg" *ngIf="!isSortByNewest" (click)="doSort('oldest')">
      <i class="bx bx-sort-up align-middle fs-4 me-2"></i>Oldest
    </button>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12 col-lg-4" *ngFor="let case of searchResult">
    <div class="card rounded-4 case-card-border pointer"
      [ngClass]="{'border-new': case.status === 'New',
        'border-investigation' : case.status === 'Investigation',
        'border-appeal' : case.status === 'Appeal',
        'border-resolved' : case.status === 'Resolved',
        'border-closed' : case.status === 'Closed'}"
        (click)="doGoCaseDetail(case.id)"
      >
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <div class="row">
              <div class="col-12">
                <i class="bx bx-file text-info fs-5 me-2"></i>
                <span class="fw-bold fs-5"># {{case.caseNo}}</span>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <i class="bx bx-calendar text-info fs-5 me-2"></i>
                <span class="fw-semibold">{{case.createdDate | date: 'dd-MMM-yyyy | hh:mm aa'}}</span>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <i class="bx bx-user text-info fs-5 me-2"></i>
                <span class="fw-semibold" *ngIf="!case.isOnBehalf">Myself</span>
                <span class="fw-semibold" *ngIf="case.isOnBehalf">On Behalf ({{case.onBehalfName}})</span>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <i class="bx bx-time-five align-middle text-info fs-5 me-2"></i>
                <button class="btn btn-sm btn-outline-new w-lg fw-bold" *ngIf="case.status == 'New'">
                  <i class="bx bxs-circle text-new align-middle fs-5 me-2"></i>
                  New
                </button>
                <button class="btn btn-sm btn-outline-investigation w-lg fw-bold" *ngIf="case.status == 'Investigation'">
                  <i class="bx bxs-circle text-investigation align-middle fs-5 me-2"></i>
                  Investigation
                </button>
                <button class="btn btn-sm btn-outline-appeal w-lg fw-bold" *ngIf="case.status == 'Appeal'">
                  <i class="bx bxs-circle text-appeal align-middle fs-5 me-2"></i>
                   Appeal
                </button>
                <button class="btn btn-sm btn-outline-resolved w-lg fw-bold" *ngIf="case.status == 'Resolved'">
                  <i class="bx bxs-circle text-resolved align-middle fs-5 me-2"></i>
                  Resolved
                </button>
                <button class="btn btn-sm btn-outline-closed w-lg fw-bold" *ngIf="case.status == 'Closed'">
                  <i class="bx bxs-circle text-closed align-middle fs-5 me-2"></i>
                  Closed
                </button>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <p class="text-muted mb-0">MCMC Related Complaint</p>
                <span class="fw-semibold">{{case.mcmcRelatedComplaint}}</span>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <p class="text-muted mb-0">Type of Service</p>
                <span class="fw-semibold">{{case.typeOfService}}</span>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card bg-secondary bg-soft rounded-4 text-center">
              <div class="card-body">
                <img class="img-fluid" src="assets/images/icms/onlinecontent-1.png" alt="Online Content" *ngIf="case.mcmcRelatedComplaint == 'Online Content'">
                <img class="img-fluid" src="assets/images/icms/postalcourier-1.png" alt="Postal & Courier" *ngIf="case.mcmcRelatedComplaint == 'Postal & Courier'">
                <img class="img-fluid" src="assets/images/icms/telecommunication-1.png" alt="Telecommunication" *ngIf="case.mcmcRelatedComplaint == 'Telecommunication'">
                <img class="img-fluid" src="assets/images/icms/broadcasting-1.png" alt="Broadcasting" *ngIf="case.mcmcRelatedComplaint == 'Broadcasting'">
                <img class="img-fluid" src="assets/images/icms/mcmcprovision-1.png" alt="MCMC Provision" *ngIf="case.mcmcRelatedComplaint == 'MCMC Provision'">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="card bg-secondary bg-soft rounded-4 mb-0">
              <div class="card-body p-2">
                <div class="row">
                  <div class="col-1">
                    <i class="bx bx-mobile text-info fs-3 pt-2"></i>
                  </div>
                  <div class="col-11">
                    <span class="text-info" *ngIf="case.description.length <= 110">{{case.description}}</span>
                    <span class="text-info" *ngIf="case.description.length > 110">{{case.description.substring(0, 110) + '...'}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
