<div id="home-topbar">
  <div class="row">
    <div class="col-12 px-0">
      <div class="card mb-0">
        <div class="ps-3 pe-4 me-1">
          <div class="d-block d-lg-none">
            <div class="row">
              <div class="col-3">
                <img class="rounded-circle avatar-md" src="assets/images/icms/mcmc-logo.png" alt="Logo" routerLink="/home/main">
              </div>
              <div class="col-9 pt-4 text-end">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <i class="bx bx-exit text-info home-topbar-icons" (click)="logout()"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="bx bxs-bell text-info home-topbar-icons" routerLink="/home/notification"></i>
                    <span class="badge bg-danger rounded-pill position-absolute home-topbar-notification-badge pointer" routerLink="/home/notification"
                          *ngIf="unreadCountNotification != 0">{{unreadCountNotification}}</span>
                  </li>
                  <li class="list-inline-item" routerLink="/home/profile">
                    <i class="bx bxs-user-circle text-light home-topbar-icons" [hidden]="user.image"></i>
                    <img class="rounded-circle home-topbar-icons" *ngIf="user.image" [src]="user.image" alt="user.image">
                  </li>
                  <li class="list-inline-item">
                    <span class="fw-semibold home-topbar-username" routerLink="/home/profile" *ngIf="user">{{user.name}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="d-none d-lg-block">
            <div class="row">
              <div class="col-lg-6">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0 me-2">
                    <img class="rounded-circle avatar-lg pointer" src="assets/images/icms/mcmc-logo.png" alt="Logo" routerLink="/home/main">
                  </div>
                  <div class="flex-grow-1">
                    <h3 class="fw-semibold">MCMC Consumer Redress Portal</h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 pt-4 text-end">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <i class="bx bx-exit text-info home-topbar-icons-lg pointer" (click)="logout()"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="bx bxs-bell text-info home-topbar-icons-lg pointer" routerLink="/home/notification"></i>
                    <span class="badge bg-danger rounded-pill fs-6 position-absolute home-topbar-notification-badge-lg pointer" routerLink="/home/notification"
                          *ngIf="unreadCountNotification != 0">{{unreadCountNotification}}</span>
                  </li>
                  <li class="list-inline-item" routerLink="/home/profile">
                    <i class="bx bxs-user-circle text-light home-topbar-icons-lg" [hidden]="user.image"></i>
                    <img class="rounded-circle home-topbar-icons-lg" style="vertical-align: unset" *ngIf="user.image" [src]="user.image" alt="user.image">
                  </li>
                  <li class="list-inline-item">
                    <span class="fw-semibold fs-4 home-topbar-username-lg" routerLink="/home/profile" *ngIf="user">{{user.name}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
