#home-topbar {
  margin-top: 70px;
}

.home-topbar-icons {
  font-size: 30px;
  height: 30px;
  width: 30px;
}

.home-topbar-icons-lg {
  font-size: 45px;
  height: 45px;
  width: 45px;
}

.home-topbar-username {
  position: relative;
  top: -8px;
}

.home-topbar-username-lg {
  position: relative;
  top: -13px;
}

.home-topbar-notification-badge {
  margin-left: -15px;
}

.home-topbar-notification-badge-lg {
  margin-left: -20px;
}
