<div class="row mb-3">
  <div class="col-12">
    <h1>Hello, <span class="fw-semibold" *ngIf="user">{{user.name}}</span> <i class="mdi mdi-human-handsup text-info ms-3"></i></h1>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-2">
    <div class="card rounded-4">
      <div class="card-body rounded-4">
        <div class="row">
          <div class="col-12 text-center">
            <i class="bx bxs-user-circle text-light image-profile" [hidden]="user.image"></i>
            <img class="rounded-circle image-profile" *ngIf="user.image" [src]="user.image" alt="user.image">
            <h2 class="fw-semibold mt-3" *ngIf="user">{{user.name}}</h2>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-12">
            <div class="border-bottom border-1 border-primary"></div>
          </div>
        </div>
        <div class="row">
          <h5 class="fw-semibold">Recent Activities</h5>
        </div>
        <div class="row mt-3" *ngIf="recentActivities && recentActivities.length == 0">
          <div class="col-12">
            <p>No Recent Activities</p>
          </div>
        </div>
        <div *ngIf="recentActivities && recentActivities.length > 0">
          <div class="row mt-3" *ngFor="let item of recentActivities">
            <div class="col-3 text-center">
              <i class="mdi mdi-dock-window text-info fs-1"></i>
            </div>
            <div class="col-9">
              <p class="mb-2">{{item.description}}</p>
              <small class="text-muted">{{item.timestamp | date: 'dd-MMM-yyyy hh:mm a'}}</small>
            </div>
          </div>
<!--          <div class="row mt-3">-->
<!--            <div class="col-12 text-end">-->
<!--              <small class="card-link">View All >></small>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-10">
    <div class="row">
      <div class="col-6 col-lg">
        <div class="card rounded-4 bg-primary text-white pointer" (click)="goToSearchCase('all')">
          <div class="card-body rounded-4">
            <div class="row">
              <div class="col-12">
                <i class="bx bxs-briefcase fs-1"></i>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12 text-center">
                <h1 class="mb-3"><span class="fw-semibold">{{dashboard.allCases}}</span><span class="fs-6 ms-2">cases</span></h1>
                <h5 class="fw-semibold">ALL</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg">
        <div class="card rounded-4 bg-new text-white pointer" (click)="goToSearchCase('new')">
          <div class="card-body rounded-4">
            <div class="row">
              <div class="col-12">
                <i class="fas fa-list-alt fs-1"></i>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12 text-center">
                <h1 class="mb-3"><span class="fw-semibold">{{dashboard.newCases}}</span><span class="fs-6 ms-2">cases</span></h1>
                <h5 class="fw-semibold">NEW</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg">
        <div class="card rounded-4 bg-investigation text-white pointer" (click)="goToSearchCase('investigation')">
          <div class="card-body rounded-4">
            <div class="row">
              <div class="col-12">
                <i class="fas fa-search fs-1"></i>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12 text-center">
                <h1 class="mb-3"><span class="fw-semibold">{{dashboard.investigationCases}}</span><span class="fs-6 ms-2">cases</span></h1>
                <h5 class="fw-semibold">INVESTIGATION</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg">
        <div class="card rounded-4 bg-onhold text-white pointer" (click)="goToSearchCase('onhold')">
          <div class="card-body rounded-4">
            <div class="row">
              <div class="col-12">
                <i class="bx bxs-briefcase fs-1"></i>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12 text-center">
                <h1 class="mb-3"><span class="fw-semibold">{{dashboard.onHoldCases}}</span><span class="fs-6 ms-2">cases</span></h1>
                <h5 class="fw-semibold">ON-HOLD</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg">
        <div class="card rounded-4 bg-appeal text-white pointer" (click)="goToSearchCase('appeal')">
          <div class="card-body rounded-4">
            <div class="row">
              <div class="col-12">
                <i class="fas fa-unlock-alt fs-1"></i>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12 text-center">
                <h1 class="mb-3"><span class="fw-semibold">{{dashboard.appealCases}}</span><span class="fs-6 ms-2">cases</span></h1>
                <h5 class="fw-semibold">APPEAL</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg">
        <div class="card rounded-4 bg-resolved text-white pointer" (click)="goToSearchCase('resolved')">
          <div class="card-body rounded-4">
            <div class="row">
              <div class="col-12">
                <i class="far fa-calendar-check fs-1"></i>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12 text-center">
                <h1 class="mb-3"><span class="fw-semibold">{{dashboard.resolvedCases}}</span><span class="fs-6 ms-2">cases</span></h1>
                <h5 class="fw-semibold">RESOLVED</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg">
        <div class="card rounded-4 bg-closed text-white pointer" (click)="goToSearchCase('closed')">
          <div class="card-body rounded-4">
            <div class="row">
              <div class="col-12">
                <i class="far fa-calendar-check fs-1"></i>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12 text-center">
                <h1 class="mb-3"><span class="fw-semibold">{{dashboard.closedCases}}</span><span class="fs-6 ms-2">cases</span></h1>
                <h5 class="fw-semibold">CLOSED</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <h4 class="fw-semibold">Related Complaints</h4>
        <p>Choose the related complaint to complete your complaint submission</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card rounded-4 bg-primary text-white">
          <div class="card-body rounded-4">
            <div class="row mt-3">
              <div class="col-6 col-lg-2 offset-lg-1">
                <div class="card rounded-4 text-center pointer" (click)="goToCreateCase('Telecommunication')">
                  <img class="card-img-top img-fluid p-5" src="assets/images/icms/telecommunication-1.png" alt="Telecommunication">
                  <div class="card-body bg-orange rounded-4 p-3">
                    <p class="card-text fs-5">Telecommunication</p>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-2">
                <div class="card rounded-4 text-center pointer" (click)="goToCreateCase('Postal & Courier')">
                  <img class="card-img-top img-fluid p-5" src="assets/images/icms/postalcourier-1.png" alt="Postal & Courier">
                  <div class="card-body bg-orange rounded-4 p-3">
                    <p class="card-text fs-5">Postal & Courier</p>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-2">
                <div class="card rounded-4 text-center pointer" (click)="goToCreateCase('Online Content')">
                  <img class="card-img-top img-fluid p-5" src="assets/images/icms/onlinecontent-1.png" alt="Online Content">
                  <div class="card-body bg-orange rounded-4 p-3">
                    <p class="card-text fs-5">Online Content</p>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-2">
                <div class="card rounded-4 text-center pointer" (click)="goToCreateCase('Broadcasting')">
                  <img class="card-img-top img-fluid p-5" src="assets/images/icms/broadcasting-1.png" alt="Broadcasting">
                  <div class="card-body bg-orange rounded-4 p-3">
                    <p class="card-text fs-5">Broadcasting</p>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-2">
                <div class="card rounded-4 text-center pointer" (click)="goToCreateCase('MCMC Provision')">
                  <img class="card-img-top img-fluid p-5" src="assets/images/icms/mcmcprovision-1.png" alt="MCMC Provision">
                  <div class="card-body bg-orange rounded-4 p-3">
                    <p class="card-text fs-5">MCMC Provision</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
