<!--<footer class="footer">-->
<!--    <div class="container-fluid">-->
<!--        <div class="row">-->
<!--            <div class="col-12">-->
<!--                <div class="text-end">-->
<!--                  <small>Copyright@ 2010-2022 MCMC. All Rights Reserved.</small>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
<div class="row mt-3">
  <div class="col-12">
    <div class="border-bottom border-1 border-primary"></div>
  </div>
</div>
<div class="row my-3">
  <div class="col-12 text-end">
    <small>Copyright@ 2010-2022 MCMC. All Rights Reserved.</small>
  </div>
</div>
