<app-topbar-without-login></app-topbar-without-login>

<div class="m-5">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card">
          <div class="card-body p-2 text-center">
            <div *ngIf="success">
              <div class="avatar-md mx-auto">
                <div class="avatar-title rounded-circle bg-light">
                  <i class="bx bx-check-shield h1 mb-0 text-success"></i>
                </div>
              </div>
              <div class="mt-4">
                <h4>Success</h4>
                <p>Email has been verified successfully, you can close this page now.</p>
                <p>OR</p>
              </div>
              <button class="btn btn-primary" routerLink="/home/profile">View Profile</button>
            </div>
            <div *ngIf="invalid">
              <div class="avatar-md mx-auto">
                <div class="avatar-title rounded-circle bg-light">
                  <i class="bx bx-error-alt h1 mb-0 text-danger"></i>
                </div>
              </div>
              <div class="p-2 mt-4">
                <h4>Error</h4>
                <p>This link is invalid or expired. Please request the verification link again.</p>
              </div>
            </div>
            <div [hidden]="success || invalid">
              <div class="avatar-md mx-auto">
                <div class="avatar-title rounded-circle bg-light">
                  <i class="fa fa-spinner fa-pulse fa-3x fa-fw text-info"></i>
                </div>
              </div>
              <div class="p-2 mt-4">
                <h4>Verifying</h4>
                <p>Please wait while we verifying this session.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
