<div class="container-fluid">

<!--  <app-page-title title="Company Profile" [breadcrumbItems]="breadCrumbItems"></app-page-title>-->

  <div class="row">
    <div class="col-md-12">
<!--      <div *ngFor="let alert of alertData">-->
<!--        <ngb-alert type="danger" (close)="close(alert, alertData)" class="custom-alert" >-->
<!--          {{alert}}-->
<!--        </ngb-alert>-->
<!--      </div>-->
    </div>
  </div>

  <div class="row">
    <div class="col-xl-4">
      <div class="card overflow-hidden">
        <!--<div class="bg-soft bg-primary">-->
          <!--<div class="row">-->
            <!--<div class="col-7">-->
              <!--<div class="text-primary p-3">-->
                <!--<h5 class="text-primary">Welcome Back !</h5>-->
                <!--<p>It will seem like simplified</p>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-5 align-self-end">-->
              <!--<img src="assets/images/profile-img.png" alt="" class="img-fluid">-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-sm-4">
              <div class="avatar-md profile-user-wid mb-2 mt-3">
                <img src="assets/pic/Logo2.png" alt="" class="img-thumbnail rounded-circle bg-dark">
              </div>
              <span class="badge rounded-pill badge-soft-danger font-size-11  m-1"> 70% completed </span>
              <h5 class="font-size-15 text-truncate">Pymsoft Sdn Bhd</h5>
              <p class="text-muted mb-0 text-truncate"></p>
            </div>

            <div class="col-sm-8">
              <div class="pt-2">

                <div class="row">
                  <div class="col-4">
                    <h5 class="font-size-15">3</h5>
                    <p class="text-muted mb-0">Shortlisted</p>
                  </div>
                  <div class="col-4">
                    <h5 class="font-size-15">2</h5>
                    <p class="text-muted mb-0">Submitted</p>
                  </div>
                  <div class="col-4">
                    <h5 class="font-size-15">10</h5>
                    <p class="text-muted mb-0">Closed</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end card -->

      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Company Information
            <a href="javascript: void(0);" class="btn btn-outline btn-sm float-end"><i class="bx bx-pencil font-size-16"></i> </a>
          </h4>

          <p class="text-muted mb-4">Some company description. Self type by company admin/owner. </p>
          <div class="table-responsive">
            <table class="table table-nowrap mb-0 font-size-11">
              <tbody>
              <tr>
                <th scope="row">Company :</th>
                <td>Pymsoft Sdn Bhd</td>
              </tr>
              <tr>
                <th scope="row">ROC No :</th>
                <td><span class="text-danger">-</span></td>
              </tr>
              <tr>
                <th scope="row">Contact No :</th>
                <td>+601-123 1234</td>
              </tr>
              <tr>
                <th scope="row">Fax No :</th>
                <td><span class="text-danger">-</span></td>
              </tr>
              <tr>
                <th scope="row">E-mail :</th>
                <td><span class="text-danger">-</span></td>
              </tr>
              <tr>
                <th scope="row">Address :</th>
                <td>C-3A-06, <br>
                  CENTUM @ OASIS CORP PARK,<br>
                  NO. 2, JALAN PJU 1A/2<br>
                  PETALING JAYA,<br>
                  47800 SELANGOR,<br>
                  MALAYSIA</td>
              </tr>
              <tr>
                <th scope="row">Service Category :</th>
                <td>Air-con, Lift, Cleaning </td>
              </tr>
              <tr>
                <th scope="row">Form-9 :</th>
                <td><span class="text-danger">-</span> </td>
              </tr>

              </tbody>
            </table>
          </div>
<!--          <div class="mt-4">-->
<!--            <a href="javascript: void(0);" class="btn btn-primary btn-sm">Edit Profile </a>-->
<!--          </div>-->
        </div>


      </div>
      <!-- end card -->


    </div>

    <div class="col-xl-8">

      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">User Request <span class="badge bg-danger rounded-pill">2</span></h4>
          <div class="table-responsive">
            <table class="table table-nowrap table-hover mb-0">
              <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Lucas Wong
                <br/>
                <span class="font-size-10">Requested on : 26 Feb 2022</span>
                </td>
                <td>
                  <button type="button" class="btn btn-sm btn-success m-1"><i class="bx bx-check"></i></button>
                  <button type="button" class="btn btn-sm btn-danger m-1"><i class="bx bx-x"></i></button>
                </td>
              </tr>

              <tr>
                <td>Peixin
                <br/>
                <span class="font-size-10">Requested on : 27 Feb 2022</span>
                </td>
                <td>
                  <button type="button" class="btn btn-sm btn-success m-1"><i class="bx bx-check"></i></button>
                  <button type="button" class="btn btn-sm btn-danger m-1"><i class="bx bx-x"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Company User</h4>
          <div class="table-responsive">
            <table class="table table-nowrap table-hover mb-0">
              <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Join Date</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr style="vertical-align:baseline">
                <td>Jackal Chin</td>
                <td>2 Feb 2022</td>
                <td>
                  <button type="button" class="btn btn-sm btn-danger m-1">Leave</button>
                </td>
              </tr>

              <tr style="vertical-align:baseline">
                <td>Isaac Wong</td>
                <td>2 Feb 2022</td>
                <td>
                  <!--<button type="button" class="btn btn-sm btn-danger m-1">Reject</button>-->
                </td>
              </tr>

              </tbody>
            </table>
            <button type="button" class="btn btn-primary btn-sm float-end mt-2">Invite New User</button>
          </div>
        </div>
      </div>



    </div>
  </div>
  <!-- end row -->
</div>
